
.csTopMenu {
	background-color: #B4008D;
}

.csTopMenuItem {
	display: inline;
	margin: 0 50px 0 50px;
}

#nav {
	position: fixed;
	z-index: 999;
}

#nav-placeholder {
	margin: 0 50px 0 50px;
}

#content {
	margin: 0 auto;
	width: 645px;
}

#homeImg {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.separator {
	padding:20px;
}